body {
    background: #a42e0dc9;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 96%);
    text-align: center;
}


.header {
    background: #31120cce;
    padding: 20px;
}



.video {
    background: #3a3a3a;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.graphic {
    background: #3a3a3a;
    padding: 20px;
    margin: 20px;
    position: relative;
    }



ol {
    text-align: left;
    display: inline-block;
}

ul {
    color: #f7eaa3;
}


img {
    width: 600px;
    border: 4px solid #f7eaa3;
}


.footer {
    background: #31120cce;
    padding: 20px;
    position: relative;

}

.footer h3 {
    text-decoration: underline;
    margin-top: 0;
    color: inherit;
}

